/* サイト全体 */
.mainWrapper {
  padding: 80px 0 0;
  /* background-color: #f5f5f7; */
  height: 100vh;
}

/* ナビゲーション */
.navWrapper {
  position: fixed;
  justify-content: space-between;
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  padding: 0 30px;
  border-bottom: 1px solid #313131;
}

.navTitle {
  display: flex;
}

.navInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.5rem;
}

/* 右上トグル */
.toggle {
  border: 1px solid #313131;
  border-radius: 50px;
  width: 55px;
  height: 55px;
  /* padding: 30px; */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #313131;
  margin: 0px 5px;
}

/* メインコンテンツ */
.home {
  min-height: 100vh;
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;

}


.headline {
  font-size: 24px;
  /* font-weight: bold; */
  padding: 80px 0 0px;
}

.doneButton {
  background-color: #f5f5f5;
  border: 1px solid #313131;
  border-radius: 50px;
  padding: 33px 30px;
  cursor: pointer;
  margin: 50px 0;
}

/* ボタンのスタイル */
.moodListWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 30px 0;
}


.buttonStyle {
  width: 202px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  padding: 5px 20px;
  margin: 5px;
}

/* 色変更 */
.moodListYellow {
  background-color: #FFFAD1;
  border: 2px solid #FFFAD1;
}

.selectedMoodListYellow {
  background-color: #FFFAD1;
  border: 2px solid #313131;
}

.moodListBlue {
  background-color: #D6E4FF;
  border: 2px solid #D6E4FF;
}

.selectedMoodListBlue {
  background-color: #D6E4FF;
  border: 2px solid #313131;
}

.moodListPink {
  background-color: #FFD8FB;
  border: 2px solid #FFD8FB;
}

.selectedMoodListPink {
  background-color: #FFD8FB;
  border: 2px solid #313131;
}

.moodListGreen {
  background-color: #BBFED2;
  border: 2px solid #BBFED2;
}

.selectedMoodListGreen {
  background-color: #BBFED2;
  border: 2px solid #313131;
}

.moodListPurple {
  background-color: #D7D7FF;
  border: 2px solid #D7D7FF;
}

.selectedMoodListPurple {
  background-color: #D7D7FF;
  border: 2px solid #313131;
}

.moodListOrange {
  background-color: #FFE4C3;
  border: 2px solid #FFE4C3;
}

.selectedMoodListOrange {
  background-color: #FFE4C3;
  border: 2px solid #313131;
}
