.heading {
    padding: 30px 0;
    text-align: center;
    font-size: 24px;
}

.recommend {
    margin-bottom: 80px;
}

.recommendList {
    max-width: 814px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px 10px;
    margin: 0 auto;
}

.recommendList li {
    max-width: 170px;
    margin-left: 20px;
    padding: 10px 13px;
    background-color: #eaeaea;
    border-radius: 10px;
}

.recommendList li:hover {
    cursor : pointer;
}

.recommendList li h2 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}

.recommendList li img {
    border-radius: 5px;
}

.modal {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    animation: bgGradient 3s ease infinite;
    display: grid;
    place-content: center;
    background-size: 200% 200% !important;
}

@keyframes bgGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.closeButton {
    width: 100%;
    padding: 5px 30px;
    margin: 0 auto;
    max-width: 150px;
    border-radius: 5px;
    color: white;
    background-color: #222222;
}