.heading {
    margin: 45px 0 25px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.recommend {
    margin-bottom: 80px;
}

.recommendList {
    max-width: 814px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px 10px;
    margin: 0 auto;
}

.recommendList li {
    max-width: 170px;
    margin-left: 20px;
    padding: 10px 13px;
    background-color: #eaeaea;
    border-radius: 10px;
}

.recommendList li:hover {
    cursor: pointer;
}

.recommendList li h2 {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0 5px;
    word-break: break-all;
}

.recommendList li img {
    border-radius: 5px;
}

.modal {
    position: fixed;
    inset: 0;
    z-index: 2;
    width: 100%;
    height: 100vh;
    animation: bgGradient 3s ease infinite;
    display: grid;
    place-content: center;
    background-size: 200% 200% !important;
}

@keyframes bgGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.closeButton {
    width: 100%;
    padding: 5px 30px;
    margin: 0 auto;
    max-width: 150px;
    border-radius: 5px;
    color: white;
    background-color: #222222;
}

.buttonLinks {
    margin-top: 40px;
    text-align: center;
}

.buttonLinks a {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid;
    padding: 10px 30px;
}
.buttonLinks button {
    display: inline-block;
    margin-left: 30px;
    border-radius: 5px;
    border: 1px solid;
    padding: 10px 30px;
}

.load {
    margin: 300px auto 0;
    text-align: center;
    font-size: 50px;
}

@-moz-keyframes spinnerLoader {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes spinnerLoader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinnerLoader {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/* :not(:required) hides this rule from IE9 and below */
.spinnerLoader:not(:required) {
    -moz-animation: spinnerLoader 1500ms infinite linear;
    -webkit-animation: spinnerLoader 1500ms infinite linear;
    animation: spinnerLoader 1500ms infinite linear;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
    -moz-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
    -webkit-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
    display: inline-block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin: 1.5em;
    overflow: hidden;
    text-indent: 100%;
}
